@use '../../illyrica/mixins' as mixins;

.workspace {
	background-color: var(--bg-primary);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__content {
		display: flex;
		flex: 1;
		overflow: hidden;

		&__branches {
			width: 220px;
			min-width: 220px;
			border-right: 1px solid var(--separator-primary);
			overflow: hidden;
			display: flex;
			flex-direction: column;
			background-color: var(--bg-material);
		}

		&__graph {
			flex: 1;
			display: flex;
			overflow: hidden;
			min-width: 0;
		}
	}
}
